/* App.tsx */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f8ff; /* Blanc cassé uniforme */
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  min-height: 100vh; /* Minimum height to cover full viewport */
}

.sidebar {
  width: 300px;
  padding: 20px;
  color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background-image: url('../../public/image.jpg'); 
  overflow-y: auto;
}


.sidebar h2 {
  color: #000; /* Noir pour le contraste */
  font-size: 28px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #000; /* Noir pour le texte */
  font-size: 23px;
}

.sidebar ul li a:hover {
  color: #1e90ff; /* Bleu pour le hover */
}

.main-container {
  flex: 1;
  padding: 40px;
  background-color: #f5f7f6; /* Uniform background */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  min-height: 100vh; /* Ensure it stretches to the bottom */
}

h1 {
  color: #1e90ff; /* Bleu doux pour les titres */
  font-size: 32px;
}

p {
  font-size: 18px;
  color: #333;
}

button {
  padding: 10px;
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #1c86ee;
}